<!doctype html>
<html lang=en>
	<head>
		<title>Topiary</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="/admin/assets/main.css">
	</head>
	<body>
		<header>
			<h1><a href="/admin/">topiary</a></h1>
		</header>
		<main>
			<h1>Topiary Admin Login</h1>
			<p>Sign into the admin</p>
			<form action="/admin/login/" method="post" id="login">
				<input type="text" name="username" placeholder="username" required><br>
				<input type="password" name="password" placeholder="password" required></br>
				<button type="submit">Login</button>
			</form>
		</main>
		<footer>
			<hr />
		</footer>
	</body>
</html>
